<!DOCTYPE html>
<html>
<head>
  <title>DiploSocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <!--Sesion de hash noticias-->
  <% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
  <% end %>

  <!--sesion de barra de usuario-->
  <div class="pull-right">
    <% if current_user %>
        <%= link_to 'Log Out', login_path %>
    <% else %>
        <%= link_to 'Log In', login_path %> |
        <%= link_to 'Registrarse', signup_path %>
    <% end %>
  </div>
  <%= yield %>
</div>
</body>
</html>
